# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/



# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz


# dotenv environment variable files
.env
.env.*
!.env.example

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# build / generate output
dist
.output


# temp directory
.temp

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/
